.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.survey-form{
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  height:fit-content;
  width:450px;
  padding: 20px;
}
.sector{
  width: 420px;
  border-radius: 10px;
  height: 30px;
}
.loginBtn{
  width: 100px;
  height: 40px;
  background-color: rgb(107, 221, 241);
}
.loginBtn:hover{
  width: 100px;
  height: 40px;
  background-color: rgb(107, 221, 241);
}

.signUpBtn{
  width: 100px;
  height: 40px;
  background-color: rgb(85, 135, 221);

}
.signUpBtn:hover{
  width: 100px;
  height: 40px;
  background-color: rgb(85, 135, 221);
  
}

.sign-out{
  background-color: rgb(203, 58, 58);
  color: whitesmoke;
}

.home{
  margin-top: 100px;
}

@media only screen and (max-width:576px) {
  .newPortal{
display: none;
  }
}